BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments:  false
AlignConsecutiveDeclarations: false
AlignOperands:  true
AllowShortBlocksOnASingleLine:  false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine:  false
AllowShortLoopsOnASingleLine: true
SortIncludes: false
BreakBeforeBraces:  Attach
PointerAlignment: Middle 
ColumnLimit:  120
IndentWidth:  4
UseTab: Never
TabWidth: 4